div.respond-bar {
  @include container;
  margin-top: 96px;
  background-color: $white;
  padding: 1em;
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 592px;
  box-shadow: 0 0 10px $gold;

  a.button {
    display: block;
    margin-top: 1em;
  }
}
