/* @group ----- Generic HTML elements ----- */

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  display: block;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
/* @end */

/* @group ----- Global selectors ----- */

#search-container {
  clear: both;
  width: 100%;
  @include leader();
  @include trailer(0);
}

/* @end */
