/**
 * @file
 *
 * Custom styles for the MCJC sub-theme at 768px and below.
 */

/* @group ----- Generic ----- */

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

/* @end */

/* @group ----- Home Page ----- */

#home #content {
  width: 100%;
}

.featured,
.featured-wrapper,
#featured-exhibit {
  .image {
    float: none;
    text-align: center;

    img {
      float: none;
    }
  }
}
.featured-wrapper--collection {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
}

.featured-wrapper {
  border-top: 1px solid #ccc;
}

.featured-item__background-image {
  height: 200px;
}

/* @end */

/* @group ----- Footer ----- */

footer {
  nav {
    overflow: auto;
  }

  nav + p {
    text-align: left;
  }
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: none;
  margin-right: 0;

  > div {
    margin-bottom: 0;
    margin-top: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.item .tags {
  clear: left;
}

.hTagcloud ul li a {
  line-height: normal;
}

.item-pagination a {
  font-size: 1em;
}

.items.show #itemfiles .item-images .item-file a .full {
  margin: 0;
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse .item-meta .item-img {
  float: none;
  text-align: left;

  a {
    text-align: center;
  }

  img {
    margin-bottom: 0;
  }
}

.browse .item-meta > div {
  display: block;
}

.browse .item h2 {
  width: 100%;
}

.items.browse .item-file.application-pdf {
  margin: 0 0.5em 0.5em 0;

  a {
    padding: 0.25em 0.5em;
  }
}

/* @end */

/* @group ----- Collections/Browse ----- */

.browse .collection .image,
.browse .exhibit .image {
  clear: both;
  display: block;
  float: none;
  margin: 0;
  overflow: auto;

  img {
    display: block;
    float: none;
    margin: 2em auto;
  }
}

.collection-meta {
  clear: both;
  display: block;
  float: none;
}

.collections .item-img {
  float: none;
  margin-left: 0;

  a {
    margin: 0;

    img {
      display: block;
      margin: 2em auto;
    }
  }
}

.collections.show .item-img {
  margin-left: 0;
}

/* @end */

/* @group ----- Collections/Show ----- */

.collections.show {
  .item-img {
    max-width: 100%;
    width: auto;
  }

  .item {
    h3 {
      margin-bottom: 0.5em;
    }

    img {
      margin: 0 auto 0.75em;
    }
  }
}

/* @end */

/* @group ----- Exhibits ----- */

.layout-gallery {
  .gallery-showcase,
  .gallery.with-showcase,
  .gallery.left,
  .gallery.right {
    width: 100%;
  }

  .gallery.captions-center:not(.with-showcase) {
    display: block;

    .exhibit-item {
      margin-right: 0;
      width: 100%;

      .download-file {
        margin-bottom: 0.5em;
      }
    }
  }

  .left.with-right,
  .right {
    min-height: 0;
  }
}

.exhibits.browse {
  .exhibit {
    h2 {
      margin-bottom: 0.5em;
    }

    img {
      margin: 0 auto;
    }
  }
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  > * {
    margin-left: 0.5 * $base-font-size;
    margin-right: 0.5 * $base-font-size;
  }
}

/* @end */

/* @group ----- Person ----- */
.person.show,
.items {
  .primary {
    display: block;
  }

  .explore-grid.related-items {
    display: flex;
    margin-top: 20px;

    a.button.back {
      width: 100%;
      left: auto;
    }

    .related-item.tile.related-item {
      width: 100%;
      height: 300px;

      .item-label.tile__label {
        top: 65%;
        bottom: 0;
      }

      .item-img.tile__image {
        width: 300px;
        height: 300px;
      }
    }
  }

  .explore-grid.in-the-community {
    .community-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .related-item.tile.in-the-community {
        width: 250px;
        height: 250px;
      }

      .item-meta {
        top: 80%;
      }
    }
  }
}
/* @end */
