/**
 * @file
 *
 * Custom styles for the MCJC sub-theme at 768px and below.
 */

/* @group ----- Generic ----- */

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

/* @end */

/* @group ----- Home Page ----- */

.featured,
.featured-wrapper,
#featured-exhibit {
  .image {
    float: none;
    text-align: center;

    img {
      float: none;
    }
  }
}
.featured-wrapper--collection {
  border-bottom: 1px solid $grey--medium;
  margin-bottom: 1.5em;
}

.featured-wrapper {
  border-top: 1px solid $grey--medium;
}

.featured-item__background-image {
  height: 200px;
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: none;
  margin-right: 0;

  div {
    margin-bottom: 0;
    margin-top: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.item .tags {
  clear: left;
}

.hTagcloud ul li a {
  line-height: normal;
}

.item-pagination a {
  font-size: 1em;
}

.items.show #itemfiles .item-images .item-file a .full {
  margin: 0;
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse .item-meta .item-img {
  float: none;
  text-align: left;

  a {
    text-align: center;
  }

  img {
    margin-bottom: 0;
  }
}

.browse .item-meta > div {
  display: block;
}

.browse .item h2 {
  width: 100%;
}

/* @end */

/* @group ----- Collections/Browse ----- */

.browse .collection .image,
.browse .exhibit .image {
  clear: both;
  display: block;
  float: none;
  margin: 0;
  overflow: auto;

  img {
    display: block;
    float: none;
    margin: 2em auto;
  }
}

.collection-meta {
  clear: both;
  display: block;
  float: none;
}

.collections .item-img {
  float: none;
  margin-left: 0;

  a {
    margin: 0;

    img {
      display: block;
      margin: 2em auto;
    }
  }
}

.collections.show .item-img {
  margin-left: 0;
}

/* @end */

/* @group ----- Collections/Show ----- */

.collections.show {
  .item-img {
    max-width: 100%;
    width: auto;
  }

  .item {
    h3 {
      margin-bottom: 0.5em;
    }

    img {
      margin: 0 auto 0.75em;
    }
  }
}

/* @end */

/* @group ----- Exhibits ----- */

.layout-gallery {
  .gallery-showcase,
  .gallery.with-showcase,
  .gallery.left,
  .gallery.right {
    width: 100%;
  }

  .gallery.captions-center:not(.with-showcase) {
    display: block;

    .exhibit-item {
      margin-right: 0;
      width: 100%;

      .download-file {
        margin-bottom: 0.5em;
      }
    }
  }

  .left.with-right,
  .right {
    min-height: 0;
  }
}

.exhibits.browse {
  .exhibit {
    h2 {
      margin-bottom: 0.5em;
    }

    img {
      margin: 0 auto;
    }
  }
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  > * {
    margin-left: 0.5 * $base-font-size;
    margin-right: 0.5 * $base-font-size;
  }
}

/* @end */
