.page.simple-page {
  .simple-pages-submenu {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    background: $white;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 0.5rem;

    li {
      width: 100%;

      a {
        width: 100%;
        @include button_link;
      }
    }

    li + li {
      margin-top: 0.5rem;
    }
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  h1 {
    margin-top: 0;
  }

  .simple-pages-text-wrapper {
    @include white-background-text;
  }
}

@media only screen and (max-width: $tablet-width) {
  .about-content-wrapper {
    flex-direction: column;
  }

  .page.simple-page {
    .simple-pages-text-wrapper {
      order: 2;
    }
    .simple-pages-submenu {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      order: 1;
      .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
