//* @group ----- Typography ----- */

$base-font-size: 16px;
$base-line-height: 24px;
$body-font-family: "Open Sans", Verdana, Arial, sans-serif;
$heading-font-family: "Alegreya Sans", "Gill Sans MT", "Gill Sans", sans-serif;

//* @end */

//* @group ----- Colors ----- */

$purple--dark: #412560;
$purple--light: #806998;
$teal: #00739b;
$burgundy: #7a3e48;
$black: #000;
$grey--dark: #414042;
$grey--medium: #dedae2;
$grey--light: #f4f3f5;
$white: #fff;
$accent-color: #7b5c7e;

//* @end */

//* @group ----- Mixins ----- */

@mixin outline-button() {
  background-color: $white;
  border: solid 1px $teal;
  color: $teal;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    background-color: $purple--light;
    border-color: $purple--light;
    color: $white;
  }
}

//* @end */
