.add-story-image {
  background-image: url("../assets/images/Photo.png");
}
.descriptionParagraph {
  line-height: 30px;
}
input[type="text"],
textarea {
  border-radius: 5px;
  width: 450px;
  height: 50px;
  padding: 10px;
}

div#contribution-type-form {
  .field {
    label {
      text-transform: uppercase;
      font-weight: bold;
    }

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .explanation {
    margin-bottom: 0;
  }

  .contribute-terms a {
    text-decoration: underline;
  }
}

#form-submit.submit {
  @include outline-button;

  margin-top: 1.5em;
}
@media screen and (max-width: $mobile-landscape-width) {
  input[type="text"],
  textarea {
    width: 300px;
  }
}
