.contribution.thank-you {
  .contribute-title {
    font-weight: bold;
    font-size: 3rem;
    line-height: normal;
    color: $letter-blue;
  }

  .contribute-paragraph {
    margin-right: 400px;
  }

  .contribute-button-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;

    .button.contribute {
      margin-right: 10px;
    }

    .button.browseTopics {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    .contribute-paragraph {
      margin-right: auto;
    }
  }
}
