.add-story-image {
  background-image: url("../assets/images/Photo.png");
}

.contribution-content-wrapper {
  background-color: white;
  padding: 1em;

  div#contribution-type-form {
    .field {
      margin-top: 1.5em;

      input[type="text"],
      textarea {
        border-radius: 5px;
        width: 50vw;
        height: 2.5em;
        padding: 0.5em;
      }

      textarea {
        height: 10em;
      }

      label {
        text-transform: uppercase;
        font-weight: bold;
      }

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .explanation {
      margin-bottom: 0;
    }

    .contribute-terms a {
      text-decoration: underline;
    }
  }

  #form-submit.submit {
    @include outline-button;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: $mobile-landscape-width) {
  .contribution-content-wrapper div#contribution-type-form .field {
    input[type="text"],
    textarea {
      width: 80vw;
    }
  }
}
