.exhibit-content {
  @include contentContainer;
}
.exhibit-header-container {
  display: flex;
  flex-direction: row;
}
.exhibit-title-container {
  width: 575px;
  padding-right: 35px;
  padding-top: 80px;
}
.exhibit-title h1 {
  text-align: left;
  columns: 0 !important;
}
.exhibit-img-wrapper {
  width: 700px;
  height: 700px;
  background: #eee;
  .exhibit-img-placeholder {
    width: 100%;
    height: auto;
    /* top: 50%; */
    /* right: 50%; */
    /* text-align: center; */
    padding-top: 50%;
    padding-left: 40%;
  }
}
#exhibit-description-wrapper {
  display: flex;
  flex-direction: column;
}
.placeholder-wrapper {
  display: flex;
  padding-top: 80px;
  .PlaceholderParagraph {
    width: 775px;
    padding-right: 35px;
  }
  .Related-People-list {
    ul {
      list-style: none;
      padding-left: 80px;
    }
  }
}
.exhibit-page {
  display: flex;
}
.exhibit-page-title {
  display: flex;
}
div#exhibit-blocks {
  display: grid;
}
div#exhibit-page-navigation {
  display: flex;
}
#exhibit-pages {
  width: 100%;
  .exhibit-items {
    // width: 1250px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
      li {
        position: relative;
        overflow: hidden;
        min-width: 300px;
        width: 32%;
        background: #eee;
        padding: 0;
        height: 295px;
        margin: 5px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        a {
          color: #fff;
          background: #7b5c7e;
          height: 30px;
          /* width: 00px; */
          transition: all 0.1s linear;
          text-decoration: none;
        }
      }
    }
  }
}
.exhibit-block.layout-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layout-gallery .gallery.captions-center:not(.with-showcase) {
  display: flex;
  flex-direction: row;
}
.layout-gallery .gallery.captions-center:not(.with-showcase) .exhibit-item {
  overflow: hidden;
  position: relative;
  width: 38vw;
  height: 29.1vw;
  margin-right: 20px;
  margin-bottom: 20px;
}
.layout-gallery
  .gallery.captions-center:not(.with-showcase)
  .exhibit-item
  .exhibit-item-caption,
.layout-gallery
  .gallery.captions-center:not(.with-showcase)
  .exhibit-item
  .exhibit-item-caption
  p {
  opacity: 0.85;
  position: relative;
  bottom: 0;
  background: #7b5c7e;
  color: #ffffff;
  padding: 1em;
  height: 100%;
}
.exhibits.show {
  @include contentContainer;
}
@media (max-width: 767px) {
  .exhibit-content {
    display: flex;
    flex-wrap: wrap;
  }
  .exhibit-header-container {
    display: block;
  }
  .exhibit-img-wrapper {
    width: 450px;
    height: 450px;
  }
  .placeholder-wrapper {
    display: block;
    .PlaceholderParagraph {
      width: 450px;
    }
  }
  .exhibit-title-container {
    width: 450px;
    padding: 0px;
  }
}
