.exhibits {
  #content {
    @include container;
  }
}

.exhibit-header-container {
  img.exhibit-image {
    max-width: 33vw;
    height: auto;
    float: right;
  }
}

.exhibit-page {
  display: flex;
}
.exhibit-page-title {
  display: flex;
}

.exhibit-page-navigation {
  .exhibit-nav-prev,
  .exhibit-nav-next {
    display: inline-block;
    background-color: $white;
    padding: 15px;
    border: 10px;
    border-radius: 30px;
    width: auto;
  }
  .exhibit-nav-next {
    float: right;
  }
  .exhibit-nav-parent {
    clear: both;
    display: block;
  }
}
.layout-gallery .masonry-grid-items {
  a.download-file {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    * {
      width: 200px;
    }
  }
}

@media (max-width: $tablet-width) {
  .exhibit-title-container img.exhibit-image {
    float: none;
    max-width: 100%;
  }
  .exhibit-header-container {
    display: block;
  }
  .exhibit-img-wrapper {
    width: 450px;
    height: 450px;
  }
  .placeholder-wrapper {
    display: block;
    .PlaceholderParagraph {
      width: 450px;
    }
  }
  .exhibit-title-container {
    width: 450px;
    padding: 0px;
  }
  .exhibit-page-navigation {
    .exhibit-nav-next,
    .exhibit-nav-prev {
      display: block;
    }
  }
}
