.home_page_header_container {
  display: grid;
  grid-template-columns: 30% 45% 25%;
  justify-content: center;
  grid-template-areas: "title nav search";
  padding: 50px;
}
/* styles for homepage bottom menu */

/*menu container */
#homepage-menu {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-menu__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background: white;
  width: 820px;
}
.homepage-menu-image {
  width: 250px;
  img {
    width: auto;
    height: 100%;
  }
}
.homepage-menu-content {
  padding-left: 50px;
  justify-content: center;

  h2 {
    color: $letter-blue;
    font-weight: bold;
  }
}
.homepage-menu-content a {
  background-color: #58735a;
  color: white;
  padding: 0.5em 2em;
  text-decoration: none;
  border-radius: 5px;
}
/*footer*/
#footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0.5em;
  width: 100%;
  margin: 0 auto;
}
#footer-text {
  display: block;
  flex: 1;
  padding: 20px;
  min-width: 250px;
  max-width: 650px;
}
.center-div nav {
  width: 10px;
  padding-top: 60px;
}
#footer-nav {
  display: block;
  margin-left: 0.5em;
  nav {
    width: 100%;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }
}
#footer-logo {
  display: block;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#footer-omeka {
  flex: 1;
  flex-direction: row;
  background-color: #1c1e21;
  height: 40px;
  padding-left: 100px;
  color: white;
  font-size: 12px;
  padding-top: 10px;
}
#footer-omeka a {
  color: white;
  font-size: 12px;
}
/*homepage video*/

.video-container {
  width: 100%;
  margin: 0 auto 100px auto;
}

#homepage-video video {
  max-width: $base-width;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 850px) {
  .homepage-menu__item {
    flex-direction: column;
    width: 325px;
    text-align: center;
    padding: 1.35em;
    border-radius: 0.3em;
  }
  .homepage-menu-image {
    margin: 0 auto;
  }
  .homepage-menu-content {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  #homepage-menu {
    padding: 0 0.5em;
  }
}
