.home_page_header_container {
  display: grid;
  grid-template-columns: 30% 45% 25%;
  justify-content: center;
  grid-template-areas: "title nav search";
  padding: 50px;
}

#homepage-text {
  text-align: center;
}

/*menu container */
#homepage-menu {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  justify-content: center;
  align-items: center;
}
.homepage-menu__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background: $white;
  width: 60vw;
  .homepage-menu-image {
    overflow: hidden;
    flex-basis: 33%;
    img {
      height: 100%;
    }
  }

  .homepage-menu-content {
    h2 {
      color: $letter-blue;
      font-weight: bold;
      margin: 0.5rem 0;
    }
    padding-left: 1rem;
    flex-basis: 66%;
  }
}

/*homepage video*/
.video-container {
  width: 100%;
  margin: 0 auto;
}

#homepage-video video {
  max-width: $base-width;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: $narrow-screen) {
  #homepage-menu {
    padding: 0 0.5em;
  }

  .homepage-menu__item {
    flex-direction: column;
    text-align: center;
    padding: 1.35em;
    border-radius: 0.3em;
  }
  .homepage-menu-image {
    margin: 0 auto;
  }
  .homepage-menu-content {
    padding: 0;
  }
}
