.primary.still-image.has-picture {
  .oral-image-title-container {
    display: block;
    width: 100%;
  }
  .title-block {
    text-align: center;
    width: 100%;
  }

  .oral-image-title-container {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 100px;
  }
  .oral-image-title-container .element {
    width: 100%;
    margin: 0;
  }
}

.still-image {
  .tags-container {
    background-color: $white;
    width: 800px;
    transform: none;
    margin: 15px auto;
  }
}

.item-images {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: $tablet-width) {
  .still-image {
    .tags-container {
      width: 100%;
    }
  }
}
