.primary.still-image.has-picture {
  .oral-image-title-container {
    display: block;
    width: 100%;
  }
  .title-block {
    text-align: center;
    width: 100%;
  }
  .title-block h1 {
    font-size: 35px;
    line-height: 48px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.04em;
  }
  .oral-image-title-container {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 100px;
  }
  .oral-image-title-container .element {
    width: 100%;
    margin: 0;
  }
}

.still-image {
  .tags-container {
    background-color: $ivory;
    width: 800px;
    transform: none;
    margin: 15px auto;
  }
}

.item-images {
  display: flex;
  justify-content: center;
}

.items {
  .grid-items {
    justify-content: flex-start;
  }
  div.explore-grid .grid-items .item-title a {
    top: -34px;
  }
}

@media only screen and (max-width: 767px) {
  .item.record.related-item.tile.has-picture.depicted {
    width: 100%;
    height: 350px;
  }
  .still-image {
    .tags-container {
      width: 100%;
    }
  }
}
