.explore-grid,
.in-the-community,
.oral-historys,
.back-container,
.topics-content {
  @include container;
}

div.peoples-item-container,
div.grid-items,
div.topics-grid,
div.collection-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a.item {
    text-decoration: none;
  }

  .item {
    position: relative;
    overflow: hidden;
    min-width: 250px;
    width: 32%;
    background: #eee;
    padding: 0;
    height: 295px;
    margin: 15px 5px;

    &.has-description,
    .exhibit-gallery-item {
      position: relative;
      overflow: hidden;
      padding: 0;

      &:not(.has-picture) {
        .item-title {
          display: none;
        }
      }
    }

    &.has-picture {
      padding: 0;

      .item-meta {
        top: 85%;
        transition: 0.5s;
      }

      &:hover {
        .item-meta {
          top: 0;
        }

        .item-title {
          display: none;
        }
      }
    }

    .item-meta {
      opacity: 0.85;
      position: relative;
      bottom: 0;
      background: $accent-color;
      color: #ffffff;
      padding: 1em;
      height: 100%;

      h2 {
        margin-top: 1.5em;
        text-align: center;
      }

      h2,
      .item-title {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .item-img {
      position: absolute;
      width: 100%;
      max-height: 100%;

      img {
        width: 100%;
        position: relative;
        display: block;
        height: auto;
      }
    }

    .item-title {
      text-align: center;
      color: #fff;
      position: relative;
      top: -30px;
    }
  }
}

div.peoples-item-container,
div.collection-grid {
  .item-title {
    top: -34px;
  }
}

div.people,
div.explore-grid,
div.topics-grid,
div.collection-grid {
  .grid-items {
    .item-title {
      top: -50px;
    }
  }
}

div.explore-grid,
div.topics-grid,
div.collection-grid {
  .item {
    width: 40%;
  }
  .item:nth-child(even) {
    margin-top: 60px;
  }
}

div.topics-grid,
div.collection-grid {
  .item:nth-child(1) {
    height: 450px;
  }
}

div.depicted div.grid-items div.item {
  width: 32%;
}

@media (min-width: 768px) and (max-width: 1286px) {
  div.explore-grid,
  div.in-the-community,
  div.topics-grid {
    .item {
      width: 49%;
      background: #eee;
      margin-top: 15px;
      padding: 0;
    }

    .item.has-picture.has-description {
      padding: 0;
    }
  }
  div.explore-grid div.grid-items {
    .item:nth-child(even) {
      margin-top: 0px;
    }
  }

  div.in-the-community .item {
    max-width: 350px;
  }
}

div.topics-grid,
div.collection-grid {
  .item:nth-child(1) {
    height: 295px;
  }
}

@media (max-width: 767px) {
  div.peoples-item-container,
  div.explore-grid,
  div.in-the-community,
  div.topics-grid,
  div.collection-grid {
    justify-content: center;

    .item {
      width: 100%;

      img {
        margin-top: 0px !important;
      }

      .item-meta h2 {
        margin-top: 1.5em;
      }
    }
  }
  div.explore-grid {
    .grid-items,
    div.collection-grid {
      .item-title a {
        top: -29px;
      }
    }
  }

  div.explore-grid div.grid-items,
  div.collection-grid {
    .item {
      width: 40%;
    }
    .item:nth-child(even) {
      margin-top: 0;
    }
  }

  div.topics-grid,
  div.collection-grid {
    .item:nth-child(1) {
      height: 295px;
    }
  }

  @media (max-width: 481px) and (min-width: 320px) {
    div.peoples-item-container,
    div.explore-grid,
    div.topics-grid,
    div.collection-grid {
      justify-content: center;

      .item img {
        margin-top: 0px !important;
        height: 295px;
      }
    }
  }
  div.topics-grid,
  div.collection-grid {
    .item:nth-child(1) {
      height: 295px;
    }
  }
}
