.items.show,
.person.show,
.collections.show {
  .primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content pic";
    @include container;

    .item-type {
      text-transform: uppercase;
    }

    .item-type,
    .subtitle {
      display: block;
      text-align: center;
      margin: 0 0.5rem;
    }

    h1 {
      text-align: center;
      color: $black;
      margin: 0 0.5rem;
    }

    .item-content {
      grid-area: content;

      .description {
        margin-top: 12px;
      }
    }

    .item-sidebar {
      grid-area: pic;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;

      .item-images {
        img {
          width: 100%;
          padding: 20px;
        }
      }
    }
  }

  .tags-container {
    @include container;
    margin-top: 48px !important;
  }
}

@media screen and (max-width: $tablet-width) {
  .items.show,
  .person.show,
  .collections.show {
    .primary {
      display: flex;
      flex-direction: column;

      .item-sidebar {
        order: 0;
      }

      .item-content {
        order: 1;
      }
    }
  }
}

#item-images {
  float: left;
  margin-right: 2em;

  > div {
    margin-bottom: 2em;
  }
}

#item-description {
  margin-bottom: 2em;
}

.item-pagination {
  padding-top: 24px;

  a {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.items.show {
  h3 {
    margin-bottom: 0.5em;
  }
}

.item-file {
  margin: 0.5em 0;

  &.application-pdf {
    @include button;
    margin: 0.5em 0; // Needed again here to reset margin from button.
    max-width: 100%; // Needed to allow an iframe container to scale properly if it is inside here.

    .iframe-container {
      width: 960px;
      height: 640px;
      max-width: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Link out to SOHP for some items.
.item-metadata {
  &.sohp {
    @include button;
  }
}
