.grid-container {
  @include container;

  .grid-items {
    a.item {
      text-decoration: none;
    }

    .item {
      position: relative;
      overflow: hidden;
      background: $grey--dark;
      padding: 0;
      width: $square-thumbnail-size;

      .item-title {
        background: $accent-color;
        font-weight: bold;
        opacity: 0.85;
        display: none;
        padding: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        text-align: center;
        color: white;
        width: 100%;
      }

      .item-description {
        font-size: 0.826em;
      }

      &.has-description,
      .exhibit-gallery-item {
        position: relative;
        overflow: hidden;
        padding: 0;
      }

      &.has-picture {
        padding: 0;

        .item-title {
          display: block;
        }

        .item-meta {
          top: 100%;
          width: 100%;
          transition: 0.5s;
        }

        &:hover {
          .item-meta {
            top: 0;
          }

          .item-title {
            display: none;
          }
        }
      }

      .item-meta {
        opacity: 0.85;
        position: relative;
        bottom: 0;
        background: $accent-color;
        color: #ffffff;
        padding: 1em;
        height: 100%;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 0;
          position: relative;
          top: calc(
            (#{$square-thumbnail-size} - 80px) / 2
          ); // Centered within item-meta div.
          text-align: center;
          color: white;
          text-decoration: none;
          font-size: 1em;
          line-height: 1em;
        }
      }

      &.has-picture,
      &.has-description {
        .item-meta {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            top: 0;
          }
        }
      }
    }
  }

  &:not(.masonry-grid) .grid-items {
    margin: 0 -20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, $square-thumbnail-size);
    justify-content: center;

    .item {
      height: $square-thumbnail-size;

      .item-img {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; // TODO: Verify that this doesn't look bad on IE or other browsers.
          position: relative;
          display: block;
        }
      }
    }
  }

  // Masonry grid.
  &.masonry-grid .grid-items {
    margin: auto;

    .item {
      height: auto;
      margin: 0;
      margin-bottom: 20px;
      display: block;

      img {
        width: 100%;
        margin: 0;
      }

      .item-meta {
        position: absolute;
      }
    }
  }
}

@media (max-width: $mobile-landscape-width) {
  .grid-container {
    .item {
      width: 100%;
    }
  }
}
