// Resets
.html5media-player,
.html5media-player div,
.html5media-player h1,
.html5media-player a,
.html5media-player img,
.html5media-player span:not(.mejs-time-float):not(.mejs-time-float-corner),
.html5media-player p,
.html5media-player button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.html5media-player {
  // Note -- set width/height to 344 x 104 also in Html5Media plugin settings.
  .mejs-container,
  .mejs-container .mejs-controls {
    font-family: $body-font-family;
    background: $green;
    width: 344px;
    height: 104px;
    border-radius: 3px;
  }

  .mejs-controls .mejs-button {
    cursor: pointer;
    display: block;
    position: absolute;
  }

  // nb. all MEJS buttons are 20px x 20px.
  // TODO: Replace native MEJS buttons with custom sprites.
  .mejs-controls {
    .mejs-play,
    .mejs-pause {
      top: 40px;
      left: 16px;
    }

    .mejs-currenttime-container,
    .mejs-duration-container {
      height: 20px;
      position: absolute;

      span {
        line-height: 20px;
        margin: auto;
        font-size: 12px;
      }
    }

    .mejs-currenttime-container {
      left: 50px;
      top: 40px;
    }

    .mejs-duration-container {
      top: 40px;
      left: 199px;
    }

    .mejs-time-rail {
      left: 88px;
      top: 45px;
      width: 100px;
      height: 10px;
      position: absolute;

      .mejs-time-slider,
      .mejs-time-slider
        span:not(.mejs-time-float):not(.mejs-time-float-corner) {
        border-radius: 10px;
      }

      .mejs-time-float {
        border: 1px solid $black;
        border-radius: 0;
        margin-bottom: 9px;
        background: $white;
      }
    }

    .mejs-volume-button {
      right: 62px;
      top: 40px;
    }

    .mejs-horizontal-volume-slider {
      position: absolute;
      right: 16px;
      top: 45px;
      height: 10px;
      width: 50px;

      .mejs-horizontal-volume-total {
        height: 10px;
        top: 0;
        border-radius: 10px;
      }
    }

    .mejs-jump-forward-button,
    .mejs-skip-back-button,
    .mejs-speed-button {
      top: 72px;
    }

    .mejs-jump-forward-button {
      left: 164px;
    }

    .mejs-skip-back-button {
      left: 92px;
    }

    .mejs-speed-button {
      left: 108px;
      width: 60px;
      height: 20px;

      button {
        width: 60px;
        height: 20px;
      }

      .mejs-speed-selector {
        left: 0;
        z-index: 4;
      }

      .mejs-speed-selected {
        color: $purple--light;
      }
    }
  }

  // TODO: Fix this css when title does not appear.
  .html5media-download,
  .html5media-title {
    position: relative;
    z-index: 3;
    width: 344px;
    color: white;
  }

  .html5media-download {
    text-align: right;
    padding-right: 16px;
    padding-top: 8px;
    margin-top: 32px;
    margin-bottom: 8px;
    width: 32px;
    height: 32px;
    left: 16px;

    a {
      color: white;

      :hover,
      :focus {
        color: $purple--light;
      }
    }
  }
  .mejs-controls {
    z-index: auto !important;
  }

  .mejs-speed-selector-list-item,
  .mejs__speed-selector-list-item {
    margin: 0px 0px 4px !important;
  }

  .html5media-title {
    padding-left: 16px;
    padding-top: 8px;
    height: 32px;
    margin-top: -104px; // Move to overlay with top of player container;
    width: 328px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// Fix for cutoff of audio player on oral history page.
.oral-history .item-images .audio-mpeg {
  margin-top: 64px;
}

@media screen and (max-width: $tablet-width) {
  .person .oral-history .audio-mpeg {
    margin-top: 72px;
  }
}
