.primary.oral-history {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .item-type h1 {
    text-transform: capitalize;
  }
  .details {
    width: 50%;
    background: $ivory;
    padding: 20px;
  }
}
#itemfiles.element {
  position: relative;
  left: 65%;
  .item-images {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    justify-content: space-between;
    .item-file.application-pdf {
      display: inline-block;
      margin: 0 0.5em 0.5em 0;
      text-align: center;
      max-width: 100%;
      .items.show #itemfiles .item-images .item-file a {
        display: block;
        text-align: center;
        width: auto;
        background-color: $green;
        color: $ivory;
        border-radius: 8px;
      }
    }
  }
}
.items.show #itemfiles .item-images .item-file a {
  display: block;
  text-align: center;
  color: $ivory;
  background-color: $green;
  border-radius: 3px;
  width: auto;
}
#item-tags.element {
  padding-right: 50%;
  .element-text {
    text-decoration: underline;
  }
}
