.items.show .primary.oral-history {
  .item-type {
    text-transform: uppercase;
  }
  .item-type,
  .subtitle {
    display: block;
    text-align: center;
    margin: 0 0.5rem;
  }
  .description {
    margin-top: 36px;
  }
  h1 {
    margin: 0 0.5rem;
  }
}
#itemfiles div + div {
  margin-top: 0.5em;
}

#itemfiles.element {
  .item-images {
    display: flex;
    flex-wrap: wrap;
    width: 344px; // Align with audio player width.
    justify-content: space-between;
  }
}
