.search-by-lastname ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	letter-spacing: 20px;
	text-decoration: none;
}

.active {
	letter-spacing: normal;
	margin-right: 10px;
}

.people-page-header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.peoples-item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.has-picture {
	.item-meta {
		visibility: hidden;
	}

	&:hover {
		.item-meta {
			visibility: visible;
		}

		.person-name {
			display: none;
		}
	}
}

.browse .item {
	width: 32%;
	background: #eee;
	margin-top: 15px;
	padding: 0;
	height: 250px;
}

.item.record.has-picture.has-bio {
	overflow: hidden;
	position: relative;
	padding: 0;
}

.item.record.has-bio {
	position: relative;
	overflow: hidden;
	padding: 0;

	&:not(.has-picture) {
		.person-name {
			display: none;
		}
	}
}

.item.record {
	position: relative;
	overflow: hidden;
}

.item-meta {
	opacity: 0.85;
	position: relative;
	bottom: 0;
	background: #333;
	color: #ffffff;
	padding: 5px;
	height: 100%;
}

.item-meta a {
	color: white;
	text-decoration: none;
	font-size: 15px;
}

.item-img {
	position: absolute;
	width: 100%;
}

.item-img img {
	width: 100%;
	position: relative;
	display: block;
}

.item.record.has-picture {
	padding: 0;
}

.person-name {
	text-align: center;
	background: #505050;
}

.person-name a {
	text-decoration: none;
	color: #fff;
}

@media (min-width: 768px) and (max-width: 959px) {
	.item-img img {
		width: 100%;
		position: absolute;
		display: block;
	}

	.item-meta a {
		color: white;
		text-decoration: none;
		font-size: 15px;
	}

	.item-img {
		position: relative;
	}
	.browse .item {
		padding: 0;
	}
	.item.record.has-picture.has-bio {
		padding: 0;
	}
}
