.people {
  .search-by-lastname {
    display: flex;
    flex-direction: column;
    background-color: #eeeee8;
    padding-top: 0.5em;
    @include contentContainer;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      letter-spacing: 20px;
      text-decoration: none;
      margin-bottom: 0.75em;
    }

    span {
      margin-left: 37px;
      margin-bottom: -20px;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .top-header {
    height: 300px;
    margin-bottom: 5px;
    @include contentContainer;

    h1 {
      font-size: 28px;
      font-family: Montserrat;
      line-height: 27px;
      font-weight: bold;
      color: #0b2243;
    }

    p {
      width: 50%;
      color: #0b2243;
    }
  }

  .active {
    letter-spacing: normal;
    margin-right: 10px;
  }

  .people-page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .item-description {
    font-size: 12px;
    text-align: left;
  }

  .pagination-nav {
    @include contentContainer;
  }

  @media (max-width: 1286px) {
    .people {
      .top-header {
        h1 {
          text-align: center;
        }

        p {
          width: 100%;
          text-align: center;
        }
      }

      .top-header {
        text-align: center;
      }

      .search-by-lastname ul {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 767px) {
  .people {
    .top-header {
      h1 {
        text-align: center;
      }
      p {
        width: 100%;
        text-align: center;
      }
    }
  }

  .people {
    .search-by-lastname ul {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 481px) and (min-width: 320px) {
  .top-header {
    h1 {
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }

  .people {
    .search-by-lastname {
      width: 275px;

      ul {
        flex-wrap: wrap;
        letter-spacing: 15px;
        padding: 0px 5px 0px 15px;
      }

      span {
        font-size: 13px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
