/* @group ----- Generic ----- */

* {
  @include box-sizing(border-box);
}

body {
  color: $black;
  background-color: $grey--medium;
  background-image: url("../assets/images/backgrounds/nsdc_background.png");
  background-size: cover;
}

form,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  border: 1px solid $grey--medium;
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  display: inline-block;

  & + label {
    display: inline-block;
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* -- Misc Inline elements -- */
abbr,
acronym {
  border: none;
  font-style: normal;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}

/* -- Tables -- */
table {
  width: 100%;
}

th,
td {
  border-bottom: 1px solid $grey--medium;
  margin: 0;
  padding: rhythm(0.5) 0;
}

th {
  border-width: 3px;
  text-align: left;
}

/* -- Links -- */
img a {
  border: none;
}
/* @end */

/* @group ----- Header ----- */
header {
  @include container;
  position: relative;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: 0.5em;
  border: 1px $letter-blue dashed;
  color: $purple--light;
}
/* @end */

/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
}

#admin-bar ul {
  display: inline-block;
}
/* @end */

/* @group ----- Other plugin styles ----- */

#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}
/* @end */
