/**
 * @file
 *
 * Custom styles for the MCJC sub-theme.
 */

/* @group ----- Generic ----- */

body {
  color: $black;
  font: $base-font-size $body-font-family;
  line-height: $base-font-size * 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $purple--dark;
  font-family: $heading-font-family;
}

a,
a:link,
summary {
  color: $green;
  transition: all 0.1s linear;
  cursor: pointer;
  text-decoration: underline;

  &:visited,
  &:hover,
  &:focus {
    color: $purple--light;
  }
}
summary,
a.item-link,
nav a,
.filter-by-letter a {
  text-decoration: none;
}

/* @end */

/* @group ----- Navigation ----- */

#primary-nav {
  display: block;

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    display: none;
  }

  .nav-item > a.open {
    background-color: $white;
  }

  a:hover,
  a:focus {
    color: $purple--light;
  }

  li.active a,
  .nav-item.active a.open {
    background-color: $purple--light;
    color: $white;
  }

  // Caret character for links with submenu items.
  [aria-haspopup="true"]::after {
    content: "\f0d7";
    font-size: 1.1em;
  }

  .sub-nav.open {
    border-bottom: 0;
    margin-left: -1px;
    width: auto;
  }
}

/* @end */

/* @group ----- Home Page ----- */

#home {
  #content {
    padding: 0 0 10px 0;
  }

  #primary,
  #secondary {
    @include columns(16);
    padding: 0;
  }
}

.featured,
.featured-wrapper {
  background: $grey--light;
}

// Featured item.
.featured-item__background-image {
  background-position: center;
  background-size: cover;
  height: 400px;
}

.featured-item__text {
  margin-top: 1.5em;

  h3 {
    margin-bottom: 0.5em;
  }

  p {
    margin: 0;
  }
}

// Featured collection and exhibit.
.featured-wrapper {
  @include columns(8);
}

.featured-wrapper--collection {
  @include alpha();
}

.featured-wrapper--exhibit {
  @include omega();
}

.featured-wrapper {
  padding-bottom: 1.5em;

  img,
  .image img {
    border: 0;
    padding: 0;
  }

  .item-description {
    display: inline;
  }

  .collection-description,
  .exhibit-description {
    margin-bottom: 0.25em;
  }

  .item-description,
  .collection-description,
  .exhibit-description {
    & + a::after {
      content: "\00a0\f105";
      font-family: FontAwesome;
    }
  }
}

#featured-collection {
  padding: 0 20px;
}

#featured-exhibit {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;

  h2 {
    display: none;
  }

  img {
    border: 0;
    padding: 0;
  }
}

.featured__button {
  margin-top: 1em;
  text-align: center;

  a {
    @include outline-button;
  }
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: left;
  margin-right: 2em;

  > div {
    margin-bottom: 2em;
  }
}

#item-description {
  margin-bottom: 2em;
}

.item .tags {
  clear: left;
  margin-left: 0;
}

.item.entry {
  clear: both;

  &:not(:first-of-type) {
    border-top: solid 1px $grey--medium;
  }
}

.element-set {
  border-bottom: solid 1px $grey--medium;
  margin-bottom: $base-font-size;
  padding-bottom: 2 * $base-font-size;

  h2 {
    &::after {
      background: $grey--medium;
      content: "";
      display: block;
      height: 2px;
      width: 30px;
    }
  }

  .element {
    margin-bottom: 0.5em;
  }
}

.item-pagination {
  padding-top: 24px;

  a {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.items.show {
  h3 {
    margin-bottom: 0.5em;
  }
}

#item-relations-display-item-relations {
  border-top: solid 1px #eee;
  margin-top: 2em;
  padding-bottom: 2em;

  .entry {
    padding: 1.5em 0 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .citation > a {
    text-decoration: none;

    &:hover,
    &:focus {
      h3 {
        color: $purple--light;
      }
    }

    h3 {
      color: $teal;
      margin-top: 0;
    }
  }

  .item-description,
  .tags p {
    margin: 0 0 1.5em 0;
  }

  .item-images {
    margin-bottom: 1em;
  }
}

.hTagcloud ul {
  li {
    display: inline-block;
    margin: 0.5em;

    a {
      background-color: $teal;
      border-radius: 3px;
      color: $grey--light;
      display: block;
      padding: 0.75em;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $purple--light;
        color: $grey--light;
      }
    }
  }
}

.item,
.collection {
  .item-file a {
    height: auto;
  }
}

@mixin button_link {
  text-align: center;
  color: $ivory;
  background-color: $green;
  border-radius: 3px;

  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    background-color: $purple--light;
    border-color: $purple--light;
    color: $white;
  }
}

@mixin button {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  text-align: center;

  a {
    @include button_link;
  }
}

a.button {
  grid-area: button;
  @include button_link;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
}

.item-file {
  &.application-pdf {
    @include button;
    max-width: 100%; // Needed to allow an iframe container to scale properly if it is inside here.

    .iframe-container {
      width: 960px;
      height: 640px;
      max-width: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.items.browse .item-file.application-pdf {
  margin: 0 0 0.5em 0.5em;
}

// Link out to SOHP for some items.
.item-metadata {
  &.sohp {
    @include button;
  }
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse {
  .record,
  .collection.record,
  .exhibit {
    padding: 0;

    h2 {
      line-height: 36px;
      margin-bottom: 12px;
    }

    .view-items-link {
      margin-bottom: 0;
    }
  }

  .item-img img {
    height: auto;
  }

  .item h2 {
    width: 100%;
    text-align: center;
  }

  .item-meta,
  .collection-meta {
    width: 100%;

    .item-img {
      max-width: 49%;
      width: auto;
    }
  }

  .secondary-nav li {
    padding: 0 0 0.5em;
  }
}

/* @end */

/* @group ----- Items/Search ----- */

#advanced-search-form {
  label,
  .label {
    font-weight: bold;
  }

  .search-entry select {
    margin-right: 0.5em;
  }

  // Undo different layout for exhibit fields.
  .two.columns,
  .five.columns {
    margin-left: 0;
    width: 100%;
  }

  .submit {
    @include outline-button;

    margin-top: 1.5em;
  }
}

#search-filters > ul > li {
  &.search-page__advanced-search-link {
    background-color: transparent;
  }
}

/* @end */

/* @group ----- Search Results ----- */
.search {
  h1 {
    margin-bottom: 1.5em;
  }
}

#search-results {
  .table-header--1 {
    width: 45%;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

#item-filters ul li ul,
#search-filters > ul li ul {
  padding-left: 0.25em;
}

#search-results {
  td {
    padding: 1em 0;
  }

  td:first-child,
  td:nth-child(2) {
    padding-right: 1.5em;
  }
}

/* @end */

// Search by letter used in mutiply pages

.filter-by-letter {
  display: flex;
  flex-direction: column;
  background-color: #eeeee8;
  padding-top: 0.5em;
  margin: 15px 0 15px 0;
  overflow-x: scroll;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0.75em;
    li {
      padding: 10px;

      &.active {
        font-weight: bold;
        a {
          color: $black;
        }
      }
    }
  }

  span {
    margin-left: 37px;
    margin-bottom: -20px;
    font-size: 13px;
    font-weight: bold;
  }
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  background-color: $grey--light;
  padding: $base-font-size;

  > * {
    margin-left: 2 * $base-font-size;
    margin-right: 2 * $base-font-size;
  }

  summary {
    color: $teal;
    cursor: pointer;
    margin-left: 0;

    h2 {
      color: $teal;
      display: inline-block;
      font-size: 1.75em;
      margin: 0;
    }
  }
}

/* @end */

/* @group ----- Content containers ----- */
#primary {
  @include container;
}
