/* @group ----- Generic ----- */

* {
  @include box-sizing(border-box);
}

body {
  color: $black;
  background-color: $white;
}

.background-container {
  margin-top: 0 !important;
  padding-top: 36px;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 48px;
  background-position: bottom;
}

@media (max-width: 688px) {
  .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-tiny-screens.jpg");
  }
  .webp .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-tiny-screens.webp");
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-small-screens.jpg");
  }

  .webp .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-small-screens.webp");
  }
}

@media (min-width: 993px) and (max-width: 1312px) {
  .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-medium-screens.jpg");
  }

  .webp .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-medium-screens.webp");
  }
}

@media (min-width: 1312px) {
  .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final.jpg");
  }

  .webp .background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final.webp");
  }
}

form,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  border: 1px solid $grey--medium;
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  display: inline-block;

  & + label {
    display: inline-block;
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* -- Misc Inline elements -- */
abbr,
acronym {
  border: none;
  font-style: normal;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}

/* -- Tables -- */
table {
  width: 100%;
}

th,
td {
  border-bottom: 1px solid $grey--medium;
  margin: 0;
  padding: rhythm(0.5) 0;
}

th {
  border-width: 3px;
  text-align: left;
}

/* -- Links -- */
img a {
  border: none;
}

summary,
a.item-link,
nav a,
.filter-by-letter a {
  text-decoration: none;
}
/* @end */

/* @group ----- Buttons ---- */
@mixin button_link {
  text-align: center;
  color: $white;
  background-color: $green;
  border-radius: 3px;
  border: 0;

  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.1s linear;
  font-size: 1.25em;

  &:hover,
  &:focus {
    background-color: $purple--light;
    border-color: $purple--light;
    color: $white;
  }
}

@mixin button_link-secondary {
  @include button_link;
  color: $green;
  background-color: $white;
  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
    color: $white;
  }
}

@mixin button {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  text-align: center;

  a {
    @include button_link;
  }
}

button {
  border: 0;
}

button.button,
input[type="submit"] {
  @include button;
  @include button_link;
}
/* @end */

/* @group ----- Skipnav ----- */
#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: 0.5em;
  border: 1px $letter-blue dashed;
  color: $purple--light;
}
/* @end */

/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

#admin-bar ul {
  display: inline-block;
}

/* @end */

/* @group ----- Other plugin styles ----- */

#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}
/* @end */

/* @group ----- Content containers ----- */
#primary,
aside {
  @include container;
}

article {
  > div + div {
    margin-top: 96px;
  }

  > div.title + div {
    margin-top: 48px;
  }

  > div.breadcrumbs + div {
    margin-top: 24px;
  }
}

.back-container {
  @include container;
  margin-bottom: 48px;
  margin-top: 48px;
}

.breadcrumbs {
  @include container;
}

#content > h1 {
  @include container;
  color: $black;
  text-shadow: 0px 3px 6px $white;
}
/* @end */
