/* @group ----- Generic ----- */

* {
  @include box-sizing(border-box);
}

body {
  color: $black;
  background-color: $grey--medium;
  background-image: url("../assets/images/backgrounds/nsdc_background.png");
  background-size: cover;
}

form,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  display: inline-block;

  & + label {
    display: inline-block;
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* -- Misc Inline elements -- */
abbr,
acronym {
  border: none;
  font-style: normal;
}

blockquote {
  margin: 0 3em;
  font-style: italic;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}

/* -- Tables -- */
table {
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: rhythm(0.5) 0;
}

th {
  border-width: 3px;
  text-align: left;
}

/* -- Links -- */
img a {
  border: none;
}
/* @end */

/* @group ----- Header ----- */
header {
  @include container;
  padding: 3em 0;
  position: relative;
}

.show-advanced.button {
  width: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #005177;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;

  &:after {
    content: "\2026";
    display: block;
    text-indent: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #fff;
    background: #369;
    top: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
  }
}

#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 1.5em 1em;

  fieldset p {
    margin: 0;
  }

  & > *:last-child {
    @include trailer(0);
  }

  &.open {
    display: block;
  }
}

#advanced-form input[type="radio"] {
  margin-right: 5px;
}

.search-form fieldset fieldset {
  margin-bottom: $base-line-height;
}

#search-container.with-advanced .button {
  right: 30px;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: 0.5em;
  border: 1px blue dashed;
  color: #ff8000;
}

/* @end */

/* @group ----- Navigation ----- */
.navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;

  a {
    text-decoration: none;
  }

  li {
    float: left;
  }
}

#admin-bar ul {
  display: inline-block;
}

#primary-nav {
  clear: both;
  @include container;
  width: 500px;
  z-index: 50;

  /* mega menu list */
  .nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0 0 0 -1px;
    padding: 0 0 0 1px;
    z-index: 15;
  }

  li {
    list-style-type: none;
    margin: 0 0 -1px 0;
    position: relative;
  }

  .navigation {
    position: relative;
    z-index: 100;
    overflow: visible;
  }

  /* a top level navigation item in the mega menu */
  .nav-item {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    overflow: visible;
  }

  /* first descendant link within a top level navigation item */
  .nav-item > a {
    position: relative;
    display: inline-block;
    margin: 0 0 -1px 0;
    // border: 1px solid #ccc;
  }

  .nav-item:not(:first-child) > a {
    margin-left: -1px;
  }

  /* focus/open states of first descendant link within a top level
       navigation item */
  .nav-item > a:focus,
  .nav-item > a.open {
    border: 1px solid #dedede;
  }

  /* open state of first descendant link within a top level
       navigation item */
  .nav-item > a.open {
    background-color: #fafafa;
    z-index: 1;
  }

  /* sub-navigation panel */
  .sub-nav {
    position: absolute;
    display: none;
    top: rhythm(2);
    margin-top: 1px;
    padding: 0;
    border: 1px solid #dedede;
    background-color: #fff;
  }

  /* sub-navigation panel open state */
  .sub-nav.open {
    display: block;
    width: skeleton-column-width(3);

    li {
      width: 100%;
    }
  }

  .subnav a:hover + ul,
  .subnav a:focus + ul {
    display: block;
    position: absolute;
    top: rhythm(2);
    margin-top: 1px;
    z-index: 1000;
    @include box-shadow(#ccc 0 3px 5px);
  }

  /* list of items within sub-navigation panel */
  .sub-nav ul {
    vertical-align: top;
    margin: 0;
    padding: 0;

    a {
      margin-top: rhythm(-0.5);
      padding-left: rhythm(1.5);
    }
  }

  /* list item within sub-navigation panel */
  .sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sub-nav > li {
    border-color: #ccc;
    @include trailing-border(1px, 0, $base-font-size, solid);
  }

  .sub-nav a {
    width: 100%;
  }

  a {
    text-decoration: none;
    display: block;
    padding: rhythm(0.5) 18px;
    color: #333;
  }

  a:hover,
  a:focus,
  li.active a {
    color: #ff8000;
    position: relative;
    z-index: 1;
  }

  [aria-haspopup="true"]:after {
    font-family: "FontAwesome";
    content: "\f0da";
    margin: -1px 0 0 0.5em;
    display: inline-block;
  }

  [aria-haspopup="true"].open:after {
    content: "\f0d7";
  }
}

#secondary-nav,
.secondary-nav {
  @include trailer();
  overflow: auto;
  border-bottom: 1px solid #ccc;
  clear: both;

  li {
    padding: rhythm() 0;
    margin-right: 20px;
  }

  a {
    color: #666;
  }

  .active a {
    background: #fff;
    color: #333;
    font-weight: bold;
  }

  .tags .nav-browse-all a {
    font-weight: normal;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
  }
}

/* @group ----- Other plugin styles ----- */

#collection-tree {
  margin-left: auto;
  margin-right: auto;
}

#recaptcha_area input {
  display: inline;
}
/* @end */
