//Search Rows

.search-results-body {
	display: flex;
	flex-direction: column;
}

.search-results-rows {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.results-row-info {
	padding: 10px;
	margin-left: 10px;
}

.search-title {
	color: #000000;
	font-family: lato;
	font-size: 30px;
}

@media (max-width: 480px) {
	.search-results-rows {
		display: flex;
		flex-direction: column;
	}

	.results-row-info {
		max-width: 220px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

	.search-title {
		color: #000000;
		font-family: lato;
		font-size: 20px;
	}
}
