//Search Rows

.search-results-body {
	display: flex;
	flex-direction: column;
}

.search-results-rows {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.results-row-info {
	padding: 10px;
	margin-left: 10px;
}
