.topics-image {
  background-image: url(../assets/images/topicImage.png);
  margin-bottom: 45px;
}

.filter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $ivory;

  #grid__filter {
    display: flex;
    align-items: center;
  }

  .grid__filter__title {
    padding: 15px;
    font-weight: bold;
  }

  .grid__filter__option {
    margin-right: 20px;

    .checkbox {
      zoom: 2;
      margin-right: 10px;
    }
  }
}

#sort-links {
  padding-right: 15px;
}

span.filter-titles {
  position: relative;
  top: -3px;
}

.topic.item {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 460px;
  margin-right: 20px;
  margin-bottom: 20px;

  .item-meta.topics-card {
    top: 85%;
    transition: 0.5s;
  }

  .item-meta.topics-card:hover {
    top: 0;

    ~ .item-title {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .filter_container {
    display: flex;
    flex-direction: column;

    .filter {
      display: flex;
      flex-direction: column;
    }
    .grid__filter__title {
      padding: 0;
    }
    .checkbox {
      zoom: 1.5;
    }
  }
}

@media (max-width: 481px) and (min-width: 320px) {
  .filter_container {
    display: flex;
    flex-direction: column;

    .filter {
      display: flex;
      flex-direction: column;
    }
    .grid__filter__title {
      padding: 0;
    }
    .checkbox {
      zoom: 1.5;
    }
  }

  div.topics-grid .item:nth-child(even) {
    margin-top: 0;
  }

  div.topics-grid .item:nth-child(1) {
    height: 295px;
  }
  div.topics-grid .item .item-title a {
    top: -28px;
  }
}
