html {
  color: $black;
  font: 1em $body-font-family;
  line-height: 1.4em;
}

p {
  margin: 0;
  margin-bottom: 0.75em;
  font-size: 1.125em;
  line-height: 1.4em;
}

p:empty {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $letter-blue;
  font-family: $heading-font-family;
  font-weight: bold;
  margin-bottom: 0;
}

// Sizes computed via https://www.modularscale.com/?20&px&1.1005506885
// Line-height & margin via https://drewish.com/tools/vertical-rhythm/
h1,
.h1 {
  font-size: 3em;
  line-height: 1.4em;
}

h2,
.h2 {
  font-size: 2em;
  line-height: 1.4em;
}

h3,
.h3 {
  font-size: 1.5em;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.333em;
  line-height: 1.4em;
}

h5,
.h5 {
  font-size: 1.211em;
  line-height: 1.4em;
}

h6,
.h6 {
  font-size: 1.125em;
  line-height: 1.4em;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
