/*
Used only if javascript disabled, so modernizr does not load.

Everywhere else in the CSS, webp fallbacks are classed with .no-webp. This prevents the JPG's from being
accidentally requested by browser while async modernizr library is loading. This noscript.scss is loaded
within a <noscript> tag in header. It contains manual versions of the JPG overrides without the .no-webp tag.
 */
//
.hero-image.people-image {
  background-image: url(../assets/images/peopleImage.jpg);
}

.hero-image.topics-image {
  background-image: url(../assets/images/topicImage.jpg);
}

@media (max-width: 688px) {
  .background-container,
  .hero-image,
  .page-header-background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-tiny-screens.jpg");
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .background-container,
  .hero-image,
  .page-header-background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-small-screens.jpg");
  }
}

@media (min-width: 993px) and (max-width: 1312px) {
  .background-container,
  .hero-image,
  .page-header-background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final-medium-screens.jpg");
  }
}

@media (min-width: 1312px) {
  .background-container,
  .hero-image,
  .page-header-background-container {
    background-image: url("../assets/images/backgrounds/frw_background-final.jpg");
  }
}

#content div.have-you-heard__container,
.slider-controls {
  display: none;
}
