# Root .htaccess
/htdocs/.htaccess

# dist directory
/dist/

# Config files
/htdocs/db.ini
/htdocs/application/config/config.ini
/htdocs/application/tests/config.ini
/htdocs/php.ini
/htdocs/.user.ini
.ssh/

# Log files
/htdocs/application/logs/
/htdocs/application/logs/errors.log
/htdocs/application/logs/processes.log
/htdocs/application/tests/log.xml

# Test files
/htdocs/application/tests/_files/temp/

# Files
/htdocs/files/
files.zip

# DB dumps
*.sql
db/

# For macs
.DS_Store
.idea/
.docker-sync/


# For VIM
.*.sw*

# For Eclipse
.buildpath
.project
.settings/

# Compiled SASS
htdocs/themes/berlin_mcjc/css/*.css

# Node_modules
node_modules/
