# Root .htaccess
/htdocs/.htaccess

# dist directory
/dist/

# Config files
/htdocs/db.ini
/htdocs/application/config/config.ini
/htdocs/application/tests/config.ini

# Log files
/htdocs/application/logs/errors.log
/htdocs/application/logs/processes.log
/htdocs/application/tests/log.xml

# Test files
/htdocs/application/tests/_files/temp/

# Files
/htdocs/files/

# DB dumps
*.sql
/db/

# For macs
.DS_Store

# For VIM
.*.sw*

# For Eclipse
.buildpath
.project
.settings/
