node_modules/
htdocs/admin/
htdocs/application/
htdocs/install/
htdocs/plugins/
htdocs/files/
!htdocs/plugins/MCJC*
!htdocs/plugins/People
!htdocs/plugins/Images
!htdocs/plugins/Stories
!htdocs/plugins/Topics

