/**
 * @file
 *
 * Custom styles for the MCJC sub-theme at 768px and below.
 */

/* @group ----- Home Page ----- */

#home #content {
  padding: 0;
}

.featured,
.featured-wrapper,
#featured-exhibit {
  .image {
    float: none;
    text-align: center;

    img {
      float: none;
    }
  }
}
.featured-wrapper--collection {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
}

.featured-wrapper {
  border-top: 1px solid #ccc;
}

.featured-item__background-image {
  height: 200px;
}

/* @end */

/* @group ----- Footer ----- */

footer {
  nav {
    overflow: auto;
  }

  nav + p {
    text-align: left;
  }
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: none;
  margin-right: 0;

  > div {
    margin-bottom: 0;
    margin-top: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.item .tags {
  clear: left;
}


.hTagcloud ul li a {
  line-height: normal;
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse .item-meta .item-img {
  float: none;
  text-align: left;

  a {
    text-align: center;
  }

  img {
    margin-bottom: 0;
  }
}

.browse .item-meta > div {
  display: block;
}

.browse .item h2 {
  width: 100%;
}

.items.browse .item-file.application-pdf {
  margin: 0 .5em .5em 0;

  a {
    padding: .25em .5em;
  }
}

/* @end */

/* @group ----- Collections/Browse ----- */

.browse .collection .image,
.browse .exhibit .image {
  clear: both;
  display: block;
  float: none;
  margin: 0;
  overflow: auto;

  img {
    display: block;
    float: none;
    margin: 2em auto;
  }
}

.collection-meta {
  clear: both;
  display: block;
  float: none;
}

.collections .item-img {
  float: none;
  margin-left: 0;

  a {
    margin: 0;

    img {
      display: block;
      margin: 2em auto;
    }
  }
}

.collections.show .item-img {
  margin-left: 0;
}

/* @end */

/* @group ----- Collections/Show ----- */

.collections.show {
  .item-img {
    max-width: 100%;
    width: auto;
  }
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  > * {
    margin-left: .5 * $base-font-size;
    margin-right: .5 * $base-font-size;
  }
}

/* @end */
