/**
 * @file
 *
 * Custom styles for the MCJC sub-theme at 768px and below.
 */

/* @group ----- Footer ----- */

footer {
  nav {
    overflow: auto;
  }

  nav + p {
    text-align: left;
  }
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: none;
  margin-right: 0;

  > div {
    margin-bottom: 0;
    margin-top: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.item .tags {
  clear: left;
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse .item-meta .item-img {
  float: none;
}

.browse .item-meta > div {
  display: block;
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  > * {
    margin-left: .5 * $base-font-size;
    margin-right: .5 * $base-font-size;
  }
}

/* @end */
