//* @group ----- Colors ----- */

$purple--dark: #412560;
$purple--light: #806998;
$green: #00739b;
$burgundy: #7a3e48;
$black: #000;
$grey--dark: #414042;
$grey--medium: #dedae2;
$grey--light: #f4f3f5;
$white: #fff;

//* @end */