/**
 * @file
 *
 * Custom styles for the MCJC sub-theme.
 */

/* @group ----- Generic ----- */

body {
  color: $grey--dark;
  font: $base-font-size $body-font-family;
  line-height: $base-font-size * 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $purple--dark;
  font-family: $heading-font-family;
}

h1 {
  &::after {
    background: $grey--medium;
    content: '';
    display: block;
    height: 2px;
    margin: 10px 0 .5em;
    width: 30px;
  }
}

a,
a:link,
a:visited {
  color: $teal;
  transition: all .1s linear;

  &:hover,
  &:focus {
    color: $purple--light;
  }
}

/* @end */

/* @group ----- Header ----- */

#site-title {
  color: $purple--dark;
  font-family: $heading-font-family;
  font-size: 2.375 * $base-font-size;
  letter-spacing: .1em;
  width: 60%;

  a,
  a:hover,
  a:focus {
    color: $purple--dark;
  }
}

#search-container {
  width: 35%;

  button {
    background-color: $teal;
  }
}

.show-advanced.button {
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-top: 1px solid #ccc;
  width: 70px;

  &:after{
    background-color: #fafafa;
    color: $teal;
    content: 'Options';
  }
}

/* @end */

/* @group ----- Navigation ----- */

#primary-nav {
  display: block;

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    display: none;
  }

  .nav-item > a.open {
    background-color: $white;
  }

  a:hover,
  a:focus {
    color: $purple--light;
  }

  li.active a,
  .nav-item.active a.open {
    background-color: $purple--light;
    color: $white;
  }
}

#mobile-nav {

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    display:block;
    clear:both;
    @include container;
    zoom:1;

    ul {
      background:#fafafa;
      border-bottom:1px solid #ccc;
      width: 100%;
      padding-left: 0;
      margin: 0;
    }

    li {
      text-align:left;
      display:block;
      overflow:hidden;
      width: 100%;
    }

    a {
      text-decoration:none;
      display:block;
      padding: 10px;
      border:1px solid #ccc;
      border-width: 1px 1px 0 1px;
    }

    a:hover { background:#fff; }

    & > a:first-child {
      background:#fafafa;
      cursor: pointer;
    }

    li.current a {
      background:#fff;
      color:#ff8000;
    }

    li ul {
      position: relative;
    }

    li ul a:before {
      content: "-- ";
    }

    li ul ul a:before {
      content: "---- ";
    }
  }
}

/* @end */

/* @group ----- Home Page ----- */

#home {
  #content {
    padding: 10px 0;
  }

  #primary,
  #secondary {
    @include columns(16);
    padding: 0;
  }
}

.featured,
.featured-wrapper {
  background: $grey--light;
}

// Featured item.
.featured-item__background-image {
  background-position: center;
  background-size: cover;
  height: 400px;
}

.featured-item__text {
  margin-top: 1.5em;

  h3 {
    margin-bottom: .5em;
  }

  p {
    margin: 0;
  }
}

// Featured collection and exhibit.
.featured-wrapper {
  @include columns(8)
}

.featured-wrapper--collection {
  @include alpha();
}

.featured-wrapper--exhibit {
  @include omega();
}

.featured-wrapper {
  padding-bottom: 1.5em;

  img,
  .image img {
    border: 0;
    padding: 0;
  }

  .item-description {
    display: inline;
  }

  .collection-description,
  .exhibit-description {
    margin-bottom: .25em;
  }

  .item-description,
  .collection-description ,
  .exhibit-description {
    & + a::after {
      content: "\00a0\f105";
      font-family: FontAwesome;
    }
  }
}

#featured-collection {
  padding: 0 20px;
}

#featured-exhibit {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;

  h2 {
    display: none;
  }

  img {
    border: 0;
    padding: 0;
  }
}

.featured__button {
  margin-top: 1em;
  text-align: center;

  a {
    background-color: $white;
    border: solid 1px $teal;
    display: inline-block;
    padding: .5em .75em;
    text-decoration: none;
    transition: all .1s linear;

    &:hover,
    &:focus {
      background-color: $purple--light;
      border-color: $purple--light;
      color: $white;
    }
  }
}

/* @end */

/* @group ----- Items ----- */

#item-images {
  float: left;
  margin-right: 2em;

  > div {
    margin-bottom: 2em;
  }
}

#item-description {
  margin-bottom: 2em;
}

.item .tags {
  clear: left;
  margin-left: 0;
}

.item.entry {
  clear: both;

  &:not(:first-of-type) {
    border-top: solid 1px $grey--medium;
  }
}

.element-set {
  border-bottom: solid 1px $grey--medium;
  margin-bottom: $base-font-size;
  padding-bottom: 2 * $base-font-size;

  h2 {
    &::after {
      background: $grey--medium;
      content: '';
      display: block;
      height: 2px;
      width: 30px;
    }
  }

  .element {
    margin-bottom: .5em;
  }
}

.item-pagination {
  padding-top: 24px;

  a {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.items.show {
  h3 {
    margin-bottom: .5em;
  }

  #itemfiles .item-images .item-file {
    a {
      display: block;
      text-align: center;

      .full {
        margin: 1em 0 0;
      }
    }
  }
}

#item-relations-display-item-relations {
  border-top: solid 1px #eee;
  margin-top: 2em;
  padding-bottom: 2em;

  .entry {
    padding: 1.5em 0 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .citation > a {
    text-decoration: none;

    &:hover,
    &:focus {
      h3 {
        color: $purple--light;
      }
    }

    h3 {
      color: $teal;
      margin-top: 0;
    }
  }

  .item-description,
  .tags p {
    margin: 0 0 1.5em 0;
  }

  .item-images {
    margin-bottom: 1em;
  }
}

.hTagcloud ul {
  li {
    display: inline-block;
    margin: .5em;

    a {
      background-color: $teal;
      border-radius: 3px;
      color: $grey--light;
      display: block;
      padding: .75em;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $purple--light;
        color: $grey--light;
      }
    }
  }
}

.item,
.collection {
  .item-file a {
    height: auto;
  }
}

.item-file {
  &.audio-mpeg {
    margin-bottom: .5em;
    margin-top: 1em;
  }

  &.application-pdf {
    display: inline-block;
    margin: 0 .5em .5em 0;
    text-align: center;

    a {
      background-color: $white;
      border: solid 1px $teal;
      display: inline-block;
      padding: .5em .75em;
      text-decoration: none;
      transition: all .1s linear;

      &:hover,
      &:focus {
        background-color: $purple--light;
        border-color: $purple--light;
        color: $white;
      }
    }
  }
}

.items.browse .item-file.application-pdf {
  margin: 0 0 .5em .5em;
}

/* @end */

/* @group ----- Items/Browse ----- */

.browse {
  .record,
  .collection.record,
  .exhibit {
    padding: 1.25em 0;

    h2 {
      line-height: 36px;
      margin-bottom: 12px;
    }

    .view-items-link {
      margin-bottom: 0;
    }
  }

  .item-img img {
    height: auto;
  }

  .item h2 {
    width: 50%;
  }

  .item-meta,
  .collection-meta {
    width: 100%;

    .item-img {
      max-width: 49%;
      width: auto;
    }
  }

  .secondary-nav li {
    padding: 0 0 .5em;
  }
}

/* @end */

/* @group ----- Items/Search ----- */

#advanced-search-form {
  label {
    font-weight: bold;
  }
}


#search-filters > ul > li {
  &.search-page__advanced-search-link {
    background-color: transparent;
  }
}

/* @end */

/* @group ----- Collections/Browse ----- */

.browse .collection .image,
.browse .collection .image img,
.browse .exhibit .image,
.browse .exhibit .image img,
.collections .item-img a,
#search-results .image {
  border: 0;
  height: auto;
}

.browse .collection,
.browse .exhibit {
  h2 {
    width: auto;

    @media only screen and (min-width: 768px) and (max-width: 959px) {
      width: auto;
    }
  }
}

.browse .collection-meta {
  clear: left;
  margin: 0;

  .collection-description {
    margin-bottom: 0;
  }
}

// Image styles for collections.
.collections .item-img {
  float: right;
  margin: 0 0 0 10px;
  text-align: right;

  a img {
    border: 1px solid #ccc;
  }

  // Needed to override collection style.
  .item-file.application-pdf a {
    border: solid 1px $teal;

    &:hover,
    &:focus {
      border-color: $purple--light;
    }
  }
}

.collection,
.exhibit {
  .image {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.collection {
  .tags,
  .view-items-link {
    clear: left;
  }
}

/* @end */

/* @group ----- Collections/Show ----- */

.collections.show .item-description {
  display: inline;
  float: left;
  margin: 0;
  max-width: 100%;
  width: 460px;

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    width: 364px;
  }

  @media only screen and (max-width: 767px) {
    width: 300px;
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    width: 420px;
  }
}

.collections.show {
  .item-img {
    max-width: 49%;
    width: auto;
  }
}

/* @end */

/* @group ----- Search Results ----- */
.search {
  h1 {
    margin-bottom: 1.5em;
  }
}

#search-results {
  .table-header--1 {
    width: 45%;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

#item-filters ul li ul,
#search-filters > ul li ul {
  padding-left: .25em;
}

#search-results {
  td {
    padding: 1em 0;
  }

  td:first-child,
  td:nth-child(2){
    padding-right: 1.5em;
  }
}

/* @end */

/* @group ----- Exhibits ----- */

.exhibits {
  .secondary-nav {
    margin-bottom: 0;
  }

  .tags {
    clear: left;
  }

  .exhibit-block {
    border-bottom: solid 1px $grey--light;
    overflow: auto;
    padding: .5em 0;
  }
}

.layout-gallery {
  // Showcase items - two columns of content, usually an image and description
  // next to a list of audio files.
  .gallery.with-showcase .exhibit-item {
    margin-right: 0;
    width: 100%;
  }

  .captions-center .exhibit-item-caption {
    font-size: 1em;
    text-align: left;
  }

  .left.with-right,
  .right {
    min-height: 270px;
  }

  // Audio or image items displayed in 2 columns on large screens and one on
  // small screens.
  .gallery.captions-center:not(.with-showcase) {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .exhibit-item {
      flex-basis: 300px;
      margin-bottom: 2em;
      margin-right: 1.5em;

      .download-file {
        margin-bottom: .75em;
      }

      .exhibit-item-caption,
      .exhibit-item-caption p {
        margin-bottom: 0 !important;
      }
    }
  }
}


/* @end */

/* @group ----- Footer ----- */

footer {
  font-size: 12px;

  .navigation li {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      float: none;
    }
  }

  nav + p {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      text-align: left;
    }
  }
}

/* @end */

/* @group ----- Expander ----- */

details#item-metadata {
  background-color: $grey--light;
  padding: $base-font-size;

  > * {
    margin-left: 2 * $base-font-size;
    margin-right: 2 * $base-font-size;
  }

  summary {
    color: $teal;
    cursor: pointer;
    margin-left: 0;

    h2 {
      color: $teal;
      display: inline-block;
      font-size: 1.75em;
      margin: 0;
    }
  }
}

/* @end */

/* @group ----- Audio Player ----- */

.mejs-container {
  max-width: 100% !important;
}

/* @end */


